.App {
    font-family: sans-serif;
    text-align: center;
}

.option-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.button-wrap {
    margin: 0 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f5f2;
    border: 1px solid #d6d0c8;
    border-radius: 10px;
    overflow-y: hidden;
}

.chart-container {
    width: 60vw;
    height: 70vh;
    padding: 20px;
    overflow-y: hidden;

    /* position: "relative"; */
}
